{% extends 'base.html' %}
{% block content %}

<h1> TODO List</h1>

<form action="{{ url_for('postTodo') }}" method="post" class="indexForm">
    <input type="text" id="name" name="name">
    <input type="submit" name="submit" value="Add to Todo List"> 
</form>

<div>
    <ul>
        {% for item in todo%}
        <li> {{loop.index0}} {{item}} <a href="{{ url_for('editInfo', id=loop.index0) }}">Edit</a> || <a href="{{ url_for('deleteItem', id=loop.index0) }}">Delete</a></li>
        {% endfor%}
    </ul>
</div>

{% endblock %}