{% extends 'base.html' %}
{% block content %}

<form action="{{ url_for('postTodo') }}" method="post" class="indexForm">
    <input type="text" id="name" name="name">
    <input type="submit" name="submit" value="Add to Todo List"> 
</form>

<div>
    <ul>
        {% for item in todo%}
        <li>{{item}} <span class="smallerText"><a href="{{ url_for('editInfo', id=loop.index0) }}">Edit</a> || <a href="{{ url_for('deleteItem', id=loop.index0) }}">Delete</a></span></li>
        {% endfor%}
    </ul>
</div>

{% endblock %}